!!!5
html(lang='ru')
  head
    block head
      meta(charset='utf-8')
      title #{title} - Tortigra
      link(rel='stylesheet', href='/css/tortigra.css')
      script(src='/js/jquery.min.js')
      script(src='/js/bootstrap.min.js')
      script(src='/js/sugar.min.js')
  body.container-fluid
    header.row-fluid.page-header
      .navbar
        .navbar-inner
          a(href="/").brand Tortigra
          ul.nav
            if stage != 'wait'
              if stage == 'started'
                li#Home
                  a(href="/") Home
              li#Help
                a(href="/help") Help
              if stage == 'started'
                li#Finish
                  a(href="/finish") Finish
              else
                li#Init
                  a(href="/init") Init
              li.divider-vertical

            li#License
              a(href='/license') License

                
    .row-fluid
      aside.span3
        block sidebar
          h2 Tips and tricks
          ul
            li You can copy tortigra files to USB-drive and run it from other computer.
              |  (Don't forget copy  
              code node
              |  executables)
            li To install tortigra to another computer, go to github page: 
              a(href='https://github.com/vslutov/tortigra') https://github.com/vslutov/tortigra
              |  and follow instructions.
            li Update your version of tortigra as often as you can, it's easy: 
              code git pull
              |  in the repositary folder.
              .alert.alert-info It may not work...
      #content.span9.hero-unit
        block content
    footer
      | Project site, contact, documentation: 
      a(href='https://github.com/vslutov/tortigra', target='_blank') https://github.com/vslutov/tortigra
      |  | 
      a(href='/license') Copyright (C) 2013 V. S. Lutov
    
    :coffeescript
      $(document).ready () =>
        $('##{title}').addClass('active')
