extends base

block content
  form.form-horizontal(method="post", action="/finish-controller")
    .control-group
      label.control-label Are you sure, that you have complited work with files?
      .controls
        input(type="submit", name="submit", value="Okay, let's do it!").btn.btn-primary
  .alert
    | Existing files with same name will be replaced
