extends base

block content
  h2 Help

  hr
  h3 Quick start
  ol
    li 
      a(href='#install') Install a modern browser
    li
      a(href='#configure') Configure tortigra
    li
      a(href='#select') Select files to copy
    li
      a(href='#wait') Wait a minute

  
  hr
  a(name='install', href='#install')
    h4 Install a modern browser
  .alert If you sure that you have latest version of your favorite browser, you may 
    a(href='#configure') skip this step.
  p First of all, you should install full featured browser. 
    | Go to 
    a(target="_blank", href='http://whatbrowser.org/') http://whatbrowser.org/ 
    | and do it!
  p Seriously, you must do it for comfortable work and computer safety.
  
  hr
  a(name='configure', href='#configure')
    h4 Configure tortigra
  ul.thumbnails
    li.thumbnail.span4
      img(src='/img/lesson-2a.png')
      | Click on button 
      mark install
      |  on the header.
    li.thumbnail.span4
      img(src='/img/lesson-2b.png')
      | Type folder FROM and TO copy.

  hr
  a(name='select', href='#select')
    h4 Select files to copy
  ul.thumbnails
    li.thumbnail.span4
      img(src='/img/lesson-3a.png')
      | You can select directories to copy in folder tree.
    li.thumbnail.span4
      img(src='/img/lesson-3b.png')
      | Or you may select files (or dirs) in file list.

  hr
  a(name='wait', href='#wait')
    h4 Wait a minute
  
  hr
  h3 For developers
  p Use this documentation:
  ul
    li
      a(target="_blank", href='http://htmlbook.ru/html') htmlbook
    li
      a(target="_blank", href='http://nodejs.org/api/') nodejs
    li
      a(target="_blank", href='http://coffeescript.org/') coffeescript
    li
      a(target="_blank", href="http://sugarjs.com/features") sugar
    li
      a(target="_blank", href='http://lesscss.org/') less
    li
      a(target="_blank", href='http://expressjs.com/api.html') express
    li
      a(target="_blank", href='https://github.com/visionmedia/jade') jade
    li
      a(target="_blank", href='http://twitter.github.io/bootstrap/index.html') bootstrap
    li
      a(target="_blank", href='http://api.jquery.com/') jquery

  hr
  h3 For EVA
  ol
    li Постановка задачи
    li Используемые модели и алгоритмы
    li Руководство программиста
      ul
        li Основные структуры данных
        li Основные функции - 
          mark заголовок(значения)
          |  что делает
    li Руководство пользователя
    li Ссылки и литература
