extends base

block content
  h2
    | Help
  ul
    li
      a(href='http://htmlbook.ru/html') htmlbook
    li
      a(href='http://nodejs.org/api/') nodejs
    li
      a(href='http://coffeescript.org/') coffeescript
    li
      a(href="http://sugarjs.com/features") sugar
    li
      a(href='http://lesscss.org/') less
    li
      a(href='http://expressjs.com/api.html') express
    li
      a(href='https://github.com/visionmedia/jade') jade
    li
      a(href='http://twitter.github.io/bootstrap/index.html') bootstrap
    li
      a(href='http://api.jquery.com/') jquery
