.expand
if checked
  input(type="checkbox",checked)
else
  input(type="checkbox")
.content #{pathname}
ul.tree
  for file in files
    li(data-pathname="#{file.path}")
      .expand
      if file.checked
        input(type="checkbox",checked)
      else
        input(type="checkbox")
      .content #{file.name}
      ul.tree
