.expand
input(type="checkbox")
.content #{dirname}
ul.tree
  for file in files
    li(data-pathname="#{file.path}")
      .expand
      input(type="checkbox", value="#{file.name}")
      .content #{file.name}
      ul.tree
