extends base

block content
  h2 Wait a minute
  p
    code #{done}/#{tasksize}
    |  files has been copied.
  p It may take much more time, so relax.
  :coffeescript
    $(document).ready () =>
      f = () ->
        window.location.replace "/"
      setTimeout f, 3000